.searchbar {
	display: flex;
	align-items: center;
	padding-left: 25px;
	padding-right: 25px;
	height: 100px;
	width: 100%;
}

nav {
	position: fixed;
	background-color: #0668B3;
	font-size: 24px;
	font-family: 'Lato', 'sans-serif';
	z-index: 1;
}

nav ul, nav li {
	display: inline-block;
	padding-right: 20px;
}

/*unvisited link*/
nav a:link {
    color: white;
    text-decoration: none;
}

/*visited link*/
nav a:visited {
    color: white;
    text-decoration: none;
}

.grid-container {
	display: grid;
	grid-template-columns: 4fr 6fr; 
	grid-template-rows: 100px 1fr 100px;
	grid-template-areas:
		"topside topside"
		"leftside rightside"
		"botside botside";
}

.top {
	grid-area: topside;
}

.left-block {
	grid-area: leftside;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
}

.right-block {
	grid-area: rightside;
	font-size: 0px;
}

.presentation {
	max-width: 100%;
	height: auto;
}

.bot {
	grid-area: botside;
	padding-left: 25px;
}

footer {
	display: flex;
	align-items: center;
	padding-left: 25px;
	padding-right: 25px;
	height: 100px;
	width: 100%;
	background-color: #0668B3;
	font-size: 24px;
	font-family: 'Lato', 'sans-serif';
}