.searchbar {
	padding-left: 50px;
	padding-right: 50px;
}

nav {
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: #0668B3;
	font-family: 'Lato', 'sans-serif';
}

/*unvisited link*/
a:link {
    color: white
}

/*visited link*/
a:visited {
    color: white;
}

nav ul, nav li {
	display: inline-block;
}

main {
	height: 100%;
	width: 100%;
}

.left-block {
	position: relative;
	display: inline-block;
	height: 75%;
	width: 40%;
	top: 75px;
	text-align: center;
	vertical-align: top;
	z-index: -1;
}

.right-block {
	position: relative;
	display: inline-block;
	height: 75%;
	width: 60%;
	top: 50px;
	font-size: 0px;
	margin-right: -4px;
	vertical-align: top;
	z-index: -1;
}

.presentation {
	max-width: 100%;
	height: auto;
}

footer {
	display: block;
	position: relative;
	top: 95%;
}