:root {
    background-color: #ffffff;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.header {
    background-image: url(../img/banner_officers.jpg);
    height: 400px;
	width: 85vw;
	padding: 0 7%;
	display: flex;
	justify-items: left;
	color: #fff;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.officer-intro {
    padding: 40px 5% 0 5%;
}

.officer-section {
    background-image: url(../img/sase.jpg);
    height: 200px;
    width: 85.8vw;
    padding-left: 3.3vw;
    padding-right: 3.3vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    color: #283238;
    align-items: flex-end;
    border: 50px solid #0668B3;
}

.officers {
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding: 0 10%;
    grid-gap: 30px;
    border: 50px solid #0668B3;
}

.card {
    height: 100%;
    box-shadow: 0 3px 9px rgba(0,0,0,0.22), 0 3px 6px rgba(0,0,0,0.54);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1), height 0.6s cubic-bezier(.25,.8,.25,1);
}

.content-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    box-sizing: border-box !important;
}

.description-content {
    text-align: center;
}