:root {
    background-color: white;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: turquoise;
}

nav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #F8F8FF;
}

nav ul, nav li {
    display: inline-block;
}

main {
    padding-top: 100px;
}