:root {
    background-color: white;
}

/*body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: turquoise;
}*/

nav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #0668B3;
    font-family: 'Times New Roman', Times, serif;
}

nav ul, nav li {
    display: inline-block;
}

main {
    padding-top: 100px;
}